@{
    Layout = null;
}

<!DOCTYPE HTML>

<html>
<head>
    <title>2016 Trustpilot Foosball Tournament</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/tournament/assets/css/main.css" />
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1 class="hit-the-floor">2016 Trustpilot<br> Foosball Tournament</h1>
            <p>
                Prizes for top 3 teams and also a prize for most original team.<br>
                Hosted by Jakob Bech and Marcel Huss-Nielsen.
            </p>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#tournament" class="active">Tournament info</a></li>
                <li><a href="#rules">Rules</a></li>
                <li><a href="#teams">Teams</a></li>
                <li><a href="#seeding">Seeding rounds</a></li>
                <li><a href="#knockout">Knockout rounds</a></li>
                <li><a href="#prizes">Prizes</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Introduction -->
            <section id="tournament" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Tournament Info</h2>
                        </header>
                        <p>We are having the first annual Trustpilot Foosball tournament, and we would love for you to join the fun. The tournament will kick off at October 11th.</p>
                        <p>
                            <strong>"Gosh I really want to participate, how do i sign up?!"</strong><br>
                            That's the easy part, you find a teammate, send <a href="mailto:mhn@trustpilot.com">Marcel</a> an email, where you write the names of you and your buddy alongside your Team name, which should be cool, awesome, funny or boring.. You decide!
                        </p>
                        <p><strong>Seeding rounds</strong><br>When we start the tournament each team will play one match against all the other teams, the score goes up to 10 (dry) meaning, first team to get 10 goals wins, no tiebreak. This is the seeding rounds. The winning team will register the match results on our <a href="http://www.foos.trustpilot.com" target="_blank">foosball app</a>. Jacob dusted off the old foosball app and made it functional again (hooray!) In order to sign up on the app, you need to use your TP email, once you have signed up, just go to Matches, and register the match. Marcel or Jacob will plot in the results on this website.
                        <p>
                            <strong>Knockout rounds</strong><br>
                            When all teams have played against each other, we will seed the teams based on number of wins and in case of equal number of wins we take goals scored into account. In the knockout rounds the top seeded teams will start of against the lowest seeded teams.<br>
                            A match winner is determined in a best of three games, first team to win two games proceeds, the other team is knocked out of the tournament.
                            In the end two teams will square off in a final battle, best of 5 games, for the epic title and eternal fame and glory, and über loot as well.
                        </p>
                        <p>We have created a slack channel for the tournament. <strong>#tp-foosball-tournament</strong></p>

                    </div>
                    <span class="image"><img src="/css/tournament/images/B90.jpg" alt="" /></span>
                </div>
            </section>

            <!-- First Section -->
            <section id="rules" class="main special">
                <header class="major">
                    <h2>Rules</h2>
                </header>
                <ul class="features">
                    <li>
                        <img class="rounded-img" src="/css/tournament/images/rules2.jpg" alt="" />
                    </li>
                    <li>
                        <img class="rounded-img" src="/css/tournament/images/rules3.jpg" alt="" />
                    </li>
                    <li>
                        <img class="rounded-img" src="/css/tournament/images/rules1.jpg" alt="" />
                    </li>
                </ul>
                <p class="align-left">
                    We play how we normally do, which means we don't take the rules that serious, but we do have a few rules that teams have to accept:<br>
                    <ul class="alt rules-list">
                        <li>- Maximum amount of time a player can hold the ball before shooting is 12 seconds. Other teams gets the ball at their goalie, if a player exceeds this time limit.</li>
                        <li>- No spinning the bars, results in the opposing team getting the ball at their goalie.</li>
                        <li>- No nudging the table when the ball is in play, If a players slams the rod into the side of the table repeatedly, the other team can call foul and get the ball at their goalie. But only if it's so hard the table moves.</li>
                        <li>- If a team prefers to play without too much talk, respect it :)</li>
                        <li>- All handles are allowed, gloves are also allowed.</li>
                        <li>- In the event of a dispute the teams cannot settle, call Jakob or Marcel and we will settle it for you.</li>
                        <li>- Have fun! and always remember to give high fives after a game.</li>
                    </ul>
                </p>

            </section>

            <!-- Second Section -->
            <section id="teams" class="main special">
                <header class="major">
                    <h2>Teams</h2>
                    <p>In no specific order <span class="small-font">(Jakob and Marcel will not participate)</span></p>
                </header>
                <iframe height="800px" width="605px" src="https://docs.google.com/spreadsheets/d/13-laaqOkf8OYr8dhi2l8ysO3h3pAzavfYqqF0aflocI/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </section>

            <!-- Get Started -->
            <section id="seeding" class="main special">
                <header class="major">
                    <h2>Seeding Rounds</h2>
                    <p>The spreadsheet will be updated daily.</p>
                    <iframe width="605px" height="600px" src="https://docs.google.com/spreadsheets/d/1_MWh_sa4_3C9FZNjyGxdWe15OdUeBl9YLzir36kmI14/pubhtml?widget=true&amp;headers=false"></iframe>
                </header>

            </section>

            <section id="knockout" class="main special">
                <header class="major">
                    <h2>Knockout Rounds</h2>
                    <p>Teams will be divided into two brackets. The spreadsheet will be updated daily.</p>
                </header>
                <iframe height="800px" width="810px" src="https://docs.google.com/spreadsheets/d/19280BeCTaccyzqYz6k5rvuBjv0DQztHOR838I8wMMJk/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </section>

            <section id="prizes" class="main special">
                <header class="major">
                    <h2>Prizes</h2>
                    <p>This tournament will have 1st, 2nd, 3rd place prizes and also a special prize for the most original team.</p>

                </header>
                <ul class="features">
                    <li>
                        <img class="prize-img" src="/css/tournament/images/1-prize.jpg" alt="" />
                        <h3>1st place prize</h3>
                        <p>
                            A Trustpilot champions trophy with inscriptions for awe and glory!<br>2 T-shirts with the text
                            <italic>"Trustpilot Foosball Champion 2016"</italic>. And bragging rights!
                        </p>
                    </li>
                    <li>
                        <img class="prize-img" src="/css/tournament/images/2-prize.jpg" alt="" />
                        <h3>2nd place prize</h3>
                        <p>2 tickets to Cinemaxx cinema, and a silver medal for each player.</p>
                    </li>
                    <li>
                        <img class="prize-img" src="/css/tournament/images/3-prize.jpg" alt="" />
                        <h3>3rd place prize</h3>
                        <p>2 gift certificates of 100 kr each to Baresso Coffee and bronze medal.</p>
                    </li>
                </ul>
                <p>We also have a special prize for the most original team. This means the more original the teamname and your ability to be one with the team, the better chances you have of winning this prize</p>
            </section>

        </div>

        <!-- Footer -->
        <
        <footer id="footer"></footer>

    </div>

    <!-- Scripts -->
    <script src="/css/tournament/assets/js/jquery.min.js"></script>
    <script src="/css/tournament/assets/js/jquery.scrollex.min.js"></script>
    <script src="/css/tournament/assets/js/jquery.scrolly.min.js"></script>
    <script src="/css/tournament/assets/js/skel.min.js"></script>
    <script src="/css/tournament/assets/js/util.js"></script>
    <script src="/css/tournament/assets/js/main.js"></script>

</body>
</html>