<div class="signup" data-ng-controller="SignupController">
    <form name="signupForm" data-ng-submit="submitSignup()">
        <div>
            <input data-ng-model="email" data-focus-me name="email" required="required" type="email" placeholder="Email" value="" autocapitalize="off" autocorrect="off" autofocus />
        </div>
        <br>
        <div>
            <input data-ng-model="name" name="name" required="required" type="text" placeholder="Your name" value="" />
        </div>
        <br>
        <div>
            <input data-ng-model="password" name="password" required="required" type="password" value="" placeholder="Password" autocapitalize="off" autocorrect="off" />
        </div>
        <br>
        <div class="error validation-message" data-ng-hide="!showSignupMessage">{{signupMessage}}</div>
        <input class="button" type="submit" value="Sign up" />
    </form>
</div>

